.jumbotron
  %h1.display-3.text-center Bills are hard
  %p.lead.text-center
    Make them easy, sign up and get happy.
  %p.lead.text-center
    = link_to 'Sign up now', new_user_registration_path, title: 'Sign Up', class: 'btn btn-primary btn-lg'

.row.spaced-row
  .col-md-4.text-center
    %h1.glyphicon.glyphicon-thumbs-up
    %h3 Simple and straight-forward
    %p See your bills and paychecks at a glance, so you are confident nothing is slipping through the cracks.
  .col-md-4.text-center
    %h1.glyphicon.glyphicon-lock
    %h3 Safe
    %p No need to connect your bank accounts, or fill in any other personal information.
  .col-md-4.text-center
    %h1.glyphicon.glyphicon-heart-empty
    %h3 Always on top of it
    %p Automatic notifications to your phone and inbox so you never miss a bill.

.panel.panel-default
  .panel-body
    %p
      Staying on top of your bills is unpleasant. With all the different dues dates, frequencies,
      and minimum payments it's nearly impossible to pay everything at the right time while staying
      sane. That's why we built Bills and Stuff, we didn't want a complicated solution that tried
      to connect our bank accounts, we just wanted a simple app that tracked everything regardless
      of the complexity and notified us when to pay it.
    %p.lead.text-center
      Feel like freeing up some time?
    %p.text-center
      = link_to 'Sign up now', new_user_registration_path, title: 'Sign Up', class: 'btn btn-primary btn-lg'
