default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: bills
  password: password

development:
  <<: *default
  database: katzbill_development

test:
  <<: *default
  database: katzbill_test
