$brand-primary: #5bc0de;

@import "bootswatch/superhero/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/superhero/bootswatch";

body
{
  -webkit-font-smoothing: inherit;
}

.row.spaced-row
{
  margin-bottom: 40px;
  margin-top: 40px;
}

select.form-control
{
  margin-bottom: 5px;
}

ul.errors
{
  list-style: none;
  padding: 0;
}

.bills
{
  margin-top: -20px;
  margin-bottom: -20px;

  .row
  {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 0;

    &:last-of-type
    {
      border-bottom: 0;
    }

    &.bill
    {
      border-left: 5px solid $brand-primary;
    }

    &.paycheck
    {
      border-left: 5px solid $brand-success;
    }

    &.header
    {
      background: #485563;
    }

    h4
    {
      color: #aaa;
      font-size: 20px;
      margin: 0;
      text-align: center;
    }

    .name
    {
      margin-right: 155px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.btn-group.bill
{
  float: right;
  margin-top: 15px;

  .btn
  {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.well
{
  margin: 20px 0;
}

.panel-body
{
  padding: 20px;
}

.checkbox
{
  display: inline-block;
  margin-left: 15px;

  input[type=checkbox]
  {
    margin: 7px 0;
  }
}

.days-left
{
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

p.no-bills
{
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.form-control
{
  -webkit-appearance: none;
}

ul.list-group.users-list
{
  margin: 15px 15px 0;

  li.list-group-item
  {
    background: #485563;
  }
}

a.ellipsis
{
  display: inline-block;
  max-width: 100%;
  overflow: auto;
  text-overflow: ellipsis;
}

.panel
{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.last-checked
{
  color: #999;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.home-row
{
  background: #eee;

  &.top
  {
    margin-top: -30px;
  }

  &.colored
  {
    background: #485563;
    padding: 70px 20px;

    &.other
    {
      background: #454545;
    }
  }
}

.home-story
{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.jumbotron
{
  background: none;
  margin-bottom: 50px;
  margin-top: 50px;

  h1, p
  {
    color: #777;
  }
}

.alert
{
  margin-bottom: 51px;
}

.form-padding
{
  padding: 6px;
}
