$body-bg: #f9f9f9;
$well-bg: #fff;
$font-family-sans-serif:  "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px !default;
$btn-default-border: #fff;

@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";

.btn.btn-default
{
  box-shadow: none;
  -webkit-box-shadow: none;

  &:hover
  {
    border-color: #fff;
  }
}

select.form-control
{
  margin-bottom: 5px;
}

ul.errors
{
  list-style: none;
  padding: 0;
}

.bills
{
  .row
  {
    border-bottom: 1px solid #eee;
    padding: 20px 0;

    &:first-of-type
    {
      padding-top: 0;
    }

    &:last-of-type
    {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.btn-group.bill
{
  margin-top: 15px;
}

@media (min-width: 768px)
{
  .btn-group.bill
  {
    float: right;
  }
}

.well
{
  margin: 20px 0;
}

.panel-body
{
  padding: 20px;
}

.checkbox
{
  display: inline-block;
  margin-left: 15px;

  input[type=checkbox]
  {
    margin: 7px 0;
  }
}

.days-left
{
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

p.bills
{
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.form-control
{
  -webkit-appearance: none;
}
